*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_ul{
    display: flex;
    gap: 47px;
    margin: 0 auto;
}

.header{
    margin: 53px auto 52px;
}

.header_link{
    font-size: 18px;
    line-height: 25px;
}

.background{
    background-image: url('../img/backgound.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 180px;
}

.section_1{
    text-align: center;
}

.title{
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: #FFFFFF;
    padding: 138px 0 0;
    margin-bottom: 14px;
}

.button{
    width: 420px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #162C38;
}

.section_2{
    text-align: center;
    background: rgba(26, 110, 136, 0.71);
}

.section_2_text{
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
    max-width: 726px;
    margin: 0 auto;
    padding: 133px 0;
}

